/* Contacto */
.main__contacto {
    margin-top: 130px;
    background-color: #F4FAD3;

    .main__contacto-texto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-left: 60px;
        margin-right: 40px;

        h1 {
            margin-top: 30px;
            color: #FF80BE;
            font-size: 3rem;
        }

        p {
            font-size: 1.2rem;
            text-align: left;
        }
    }
}

@keyframes vibrar {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-5px) rotateZ(-5deg);
    }

    40% {
        transform: translateX(5px) rotateZ(5deg);
    }

    60% {
        transform: translateX(-5px) rotateZ(-5deg);
    }

    80% {
        transform: translateX(5px) rotateZ(5deg);
    }

    100% {
        transform: translateX(0);
    }
}

.main__contacto-texto h1 {
    transition: transform 0.1s ease;
}

.main__contacto-texto h1:hover {
    animation: vibrar 0.5s infinite;
}

// Medias Queries

@media (max-width: 991px) {


    .main__contacto {
        margin-top: 46px;
        background-color: #F4FAD3;

        .main__contacto-texto {
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 15px;
            }
        }
    }
}