/* Servicios */

.main__servicios {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F4FAD3;
    color: #FF80BE;
    display: flex;
    align-items: center;
    margin-top: 130px;
}

.main__servicios h1 {
    margin-top: 5px;
}

.main__servicios .titulo {
    display: flex;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
    margin-right: 17px;
    width: 500px;
    justify-content: center;
    background-color: #231F3A;
    border-radius: 100px;
}

.main__serviciosvalores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.main__serviciosvalores ._1 {
    transition: transform 0.3s ease;
}

.main__serviciosvalores ._1:hover {
    transform: scale(1.2);
}

.main__serviciosvalores ._2 {
    transition: transform 0.3s ease;
}

.main__serviciosvalores ._2:hover {
    transform: scale(1.2);
}

.main__servicios .main__serviciosvalores img {
    width: 600px;
    ;
}

.main__servicios a {
    width: 100%;

    img {
        width: 100%;
    }
}

@media (max-width: 991px){
    .main__servicios {
        margin-top: 46px;
    }

    .main__servicios .titulo {
        display: flex;
        margin-top: 20px;
        margin-bottom: 0;
        text-align: center;
        margin-right: 0px;
        width: 250px;
        justify-content: center;
        background-color: #231F3A;
        border-radius: 100px;
    }

    .main__servicios h1 {
        font-size: 2rem;
    }

    .main__serviciosvalores {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .main__servicios .main__serviciosvalores img {
        width: 360px;
        ;
    }
}