@font-face {
    font-family: 'oakes light';
    src: url('../recursos/tipografia/Oakes\ Grotesk\ Light.ttf') format('truetype');
}

@font-face {
    font-family: 'oakes bold';
    src: url('../recursos/tipografia/Oakes\ Grotesk\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'oakes semibold';
    src: url('../recursos/tipografia/Oakes\ Grotesk\ SemiBold.ttf') format('truetype');
}

@font-face {
    font-family:'Recoleta bold';
    src: url('../recursos/tipografia/Recoleta-Bold.ttf') format('truetype');
}